//
//.DateInput_input {
//    padding: 5px;
//    background: #37383f;
//    color: #FFF;
//}
//
.DateRangePickerInput_arrow_svg {
    background: #484848;
    color: #484848;
}
//
//.DateRangePickerInput_arrow_svg_1 {
//    background: #484848;
//    color: #484848;
//}

.DateRangePickerInput__withBorder {
    border-color: #37383f;
}

.DateInput_input {
    padding: 3px;
    font-size: 15px;
    background: #37383f;
    border-color: #37383f;
    color: #FFF;
}

.DateRangePickerInput {
    border-radius: 8px;
}
